<style type="text/css">
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin:0;
	padding:0;
}
body{
	font-family:Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	/*background-color:#000;*/
	overflow:hidden;
}
h1{
	margin:20px;
	font-size:40px;
}
.st_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../assets/pattern.png) repeat-x bottom left;
	opacity:0.3;
}
.st_main img.st_preview{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
}
ul.st_navigation{
	position:absolute;
	width:100%;
	top:140px;
	left:-300px;
	list-style:none;
}
ul.st_navigation li {
	float:left;
	clear:both;
	margin-bottom:8px;
	position:relative;
	width:100%;
}
ul.st_navigation li span.st_link{
	background-color:#000;
	float:left;
	position:relative;
	line-height:50px;
	padding:0px 20px;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
}
ul.st_navigation li span.st_arrow_down,
ul.st_navigation li span.st_arrow_up{
	position:absolute;
	margin-left:15px;
	width:40px;
	height:50px;
	cursor:pointer;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
}
ul.st_navigation li span.st_arrow_down{
	background:#000 url(../assets/icons/down.png) no-repeat center center;
}
ul.st_navigation li span.st_arrow_up{
	background:#000 url(../assets/icons/up.png) no-repeat center center;
}
.st_wrapper{
	display:none;
	position: absolute;
    width:100%;
    height:126px;
    overflow-y:hidden;
	top:50px;
    left:0px;
}
.st_thumbs{
    height:126px;
    margin: 0;
}
.st_thumbs img{
    float:left;
    margin:3px 3px 0px 0px;
    cursor:pointer;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
	opacity:0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.st_loading{
	position:fixed;
	top:10px;
	right:0px;
	background:#000 url(../assets/icons/loader.gif) no-repeat 10px 50%;
	padding:15px 40px 15px 60px;
	-moz-box-shadow:0px 0px 2px #000;
	-webkit-box-shadow:0px 0px 2px #000;
	box-shadow:0px 0px 2px #000;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.st_about{
	display:none;
	position:absolute;
	top:50px;
    left:0px;
	opacity:0.6;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.st_subcontent{
	background:#000;
	padding:30px;
	-moz-box-shadow:0px 0px 10px #000;
	-webkit-box-shadow:0px 0px 10px #000;
	box-shadow:0px 0px 10px #000;
}	
</style>

<center><h3>Vertical Photo Viewer</h3></center>
<center><small>This is not a complete task but it's a proof of concept</small></center>




<div id="st_main" class="st_main">
	<img src="assets/album/1.jpg" alt="" class="st_preview" style="display:none;"/>
	<div class="st_overlay"></div>
	<h1>Mark Sebastian</h1>
	<div id="st_loading" class="st_loading"><span>Loading...</span></div>
	<ul id="st_nav" class="st_navigation">
		<li class="album">
			<span class="st_link">Newest Collection<span class="st_arrow_down"></span></span>
			<div class="st_wrapper st_thumbs_wrapper">
				<div class="st_thumbs">
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
				</div>
			</div>
		</li>
		<li class="album">
			<span class="st_link">Random Photography<span class="st_arrow_down"></span></span>
			<div class="st_wrapper st_thumbs_wrapper">
				<div class="st_thumbs">
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
				</div>
			</div>
		</li>
		<li class="album">
			<span class="st_link">Best Shots<span class="st_arrow_down"></span></span>
			<div class="st_wrapper st_thumbs_wrapper">
				<div class="st_thumbs">
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
				</div>
			</div>
		</li>
		<li class="album">
			<span class="st_link">Award Winning Collection<span class="st_arrow_down"></span></span>
			<div class="st_wrapper st_thumbs_wrapper">
				<div class="st_thumbs">
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
					<img src="assets/album/thumbs/1.jpg" alt="assets/album/1.jpg"/>
					<img src="assets/album/thumbs/2.jpg" alt="assets/album/2.jpg"/>
					<img src="assets/album/thumbs/3.jpg" alt="assets/album/3.jpg"/>
					<img src="assets/album/thumbs/4.jpg" alt="assets/album/4.jpg"/>
				</div>
			</div>
		</li>
		<li>
			<span class="st_link">About<span class="st_arrow_down"></span></span>
			<div class="st_about st_thumbs_wrapper">
				<div class="st_subcontent">
					<p>
						I am alone, and feel the charm of existence in this spot,
						which was created for the bliss of souls like mine. I am
						so happy, my dear friend, so absorbed in the exquisite sense
						of mere tranquil existence, that I neglect my talents.
					</p>
				</div>
			</div>
		</li>
	</ul>
</div>


<script type="text/javascript">
$(function() {
	//the loading image
	var $loader		= $('#st_loading');
	//the ul element 
	var $list		= $('#st_nav');
	//the current image being shown
	var $currImage 	= $('#st_main').children('img:first');
	
	//let's load the current image 
	//and just then display the navigation menu
	$('<img>').load(function(){
		$loader.hide();
		$currImage.fadeIn(3000);
		//slide out the menu
		setTimeout(function(){
			$list.animate({'left':'0px'},500);
		},
		1000);
	}).attr('src',$currImage.attr('src'));
	
	//calculates the width of the div element 
	//where the thumbs are going to be displayed
	buildThumbs();
	
	function buildThumbs(){
		$list.children('li.album').each(function(){
			var $elem 			= $(this);
			var $thumbs_wrapper = $elem.find('.st_thumbs_wrapper');
			var $thumbs 		= $thumbs_wrapper.children(':first');
			//each thumb has 180px and we add 3 of margin
			var finalW 			= $thumbs.find('img').length * 183;
			$thumbs.css('width',finalW + 'px');
			//make this element scrollable
			makeScrollable($thumbs_wrapper,$thumbs);
		});
	}
	
	//clicking on the menu items (up and down arrow)
	//makes the thumbs div appear, and hides the current 
	//opened menu (if any)
	$list.find('.st_arrow_down').on('click',function(){
		var $this = $(this);
		hideThumbs();
		$this.addClass('st_arrow_up').removeClass('st_arrow_down');
		var $elem = $this.closest('li');
		$elem.addClass('current').animate({'height':'170px'},200);
		var $thumbs_wrapper = $this.parent().next();
		$thumbs_wrapper.show(200);
	});
	$list.find('.st_arrow_up').on('click',function(){
		var $this = $(this);
		$this.addClass('st_arrow_down').removeClass('st_arrow_up');
		hideThumbs();
	});
	
	//clicking on a thumb, replaces the large image
	$list.find('.st_thumbs img').bind('click',function(){
		var $this = $(this);
		$loader.show();
		$('<img class="st_preview"/>').load(function(){
			var $this = $(this);
			var $currImage = $('#st_main').children('img:first');
			$this.insertBefore($currImage);
			$loader.hide();
			$currImage.fadeOut(2000,function(){
				$(this).remove();
			});
		}).attr('src',$this.attr('alt'));
	}).bind('mouseenter',function(){
		$(this).stop().animate({'opacity':'1'});
	}).bind('mouseleave',function(){
		$(this).stop().animate({'opacity':'0.7'});
	});
	
	//function to hide the current opened menu
	function hideThumbs(){
		$list.find('li.current')
			 .animate({'height':'50px'},400,function(){
				$(this).removeClass('current');
			 })
			 .find('.st_thumbs_wrapper')
			 .hide(200)
			 .andSelf()
			 .find('.st_link span')
			 .addClass('st_arrow_down')
			 .removeClass('st_arrow_up');
	}

	//makes the thumbs div scrollable
	//on mouse move the div scrolls automatically
	function makeScrollable($outer, $inner){
		var extra 			= 800;
		//Get menu width
		var divWidth = $outer.width();
		//Remove scrollbars
		$outer.css({
			overflow: 'hidden'
		});
		//Find last image in container
		var lastElem = $inner.find('img:last');
		$outer.scrollLeft(0);
		//When user move mouse over menu
		$outer.unbind('mousemove').bind('mousemove',function(e){
			var containerWidth = lastElem[0].offsetLeft + lastElem.outerWidth() + 2*extra;
			var left = (e.pageX - $outer.offset().left) * (containerWidth-divWidth) / divWidth - extra;
			$outer.scrollLeft(left);
		});
	}
});	
</script>