<%= link_to "Showzee", root_path, :class => 'brand' %>

<% if user_signed_in? %>

	<ul class="nav pull-right">
	  <li class="divider-vertical"></li>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
	    <ul class="dropdown-menu">
	      <li>
	  	    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
	      </li>
		  <li class="divider"></li>
	      <li>
	  	    <%= link_to 'Edit account', edit_user_registration_path %>
	      </li>
	      <% if current_user.has_role? :admin %>
	        <li>
	  	      <%= link_to 'Privileges', users_path %>
	        </li>	  
	      <% end %>
	    </ul>
	  </li>
	</ul>

<% end %>